@use "../../css/abstracts/variables" as var;
@use "../../css/abstracts/mixins" as mix;
@use "sass:math";

.banner {
  background-image: url("https://fastly.picsum.photos/id/116/3504/2336.jpg?hmac=C46vgpj3R407e8pCyy8NhIsNaBZCjb4r5d71keNgMJY");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;

  .banner_text {
    @extend %wrap;
    color: var.$text-color-primary;

    p {
      text-transform: uppercase;
    }

    button {
      padding: 0.8rem 2rem;
      text-transform: uppercase;
      border: none;
      cursor: pointer;

      @media screen and (max-width: 425px) {
        width: 100%;
      }
    }


  }
}
